$white: #FFFFFF;
$red: #ff5a5f;
$dark-red: #d43242;
$dark-gray: rgba(41, 43, 48, 0.78);
$line-gray: #dce0e0;
$text-gray: #484848;
$form-gray: #aaaaaa;
$green: #008489;
$light-orange: #FFB400;
$ocher: #c3aa43;
$fb: #3B5998;
