.introduction_house
  = link_to '' do
    = image_tag 'house_sample.png', widh: '273px', height: '182px',alt: 'user_photo'
  .tags ログハウス貸切 · マカワオ
  .name Adorable Garden Gingerbread House
  .charge 18,741
  .rate ここに評価が表示されます
