.col-md-7
  .left-col-content
    %h2 Airbnbが求めるゲスト要件をチェック
    .all_guest_requirement
      %h4 　Airbnbが全ゲストに確認を求めるもの:
      %h5 ✅　メールアドレス
      %h5 ✅　認証済みの電話番号
      %h5{style: "padding-bottom: 20px;"} ✅　支払い情報
    .before_all_guest_requirement
      %h4 あなたが全ゲストに予約前に確認を求めるもの:
      %h5 ✅　あなたのハウスルールに同意すること
      %h5 ✅　ホストに旅行内容をメッセージで伝える
      %h5 ✅　宿泊人数をホストに伝える
      %h5 ✅　チェックイン時刻の申告 (到着まで2日未満の予約の場合)
      -# 仮置きボタン
    .continue-btn
      = link_to "戻る", host_path
      = link_to "次へ", house_rules_host_path
    .col-md-5.hidden-xs
      .right-col-content
