-# （仮）
-# 全文消してください
.contents
  .left_content
    %h2 最大何人まで宿泊可能ですか?
    .form_box
      = form_for @host, url: description_host_path(@host.id) do |f|
        .bedroom

          .btn.btn-success.btn-sm
            = f.submit "次へ", class: "next"
  .right_content
