.contents
  .left_content
    .form_box
      = form_for @host, url: {action: 'booking_scenarios'} do |f|
        .price_text
          %h2 基本料金
          %h4 基本料金とは、デフォルトの1泊料金のことです。
        .price_text_filed
          %h4 基本料金
          = f.text_field :basic_charge
        .price_currency
        .continue-btn{style: "padding-top: 40px;"}
          = link_to "戻る", review_guest_requirements_host_path
          = link_to "次へ", availability_questions_host_path
