.contents
  .left_content
    %h2 物件に名前をつける
    .form_box
      = form_for @host do |f|
        .title
          %p
            = f.text_field :house_name, class: "house_name", placeholder: "リスティングのタイトル"

          .btn.btn-success.btn-sm
            = f.submit "次へ", class: "next"
  .right_content
