%p
  = f.label :hose_type, "次に建物タイプを選んでください"
%p
  = f.select :hose_type, Host.categories_i18n.invert, prompt: "建物タイプを選択"


  - checked = host.house_types.presence || []

  - house_types.each do |house_type|
    - checkedval = checked.include?(house_types.id.to_s) ? true : false

    - concat f.select :hose_type, selected: , prompt: "建物タイプを選択"

<div id="detail_areas_select" class="field">
  <%= label_tag 'store[detail_areas]' %><br>
  <%
    checked = store.detail_areas.presence || []

    detail_areas.each do |detail_area|
      checkedval = checked.include?(detail_area.id.to_s) ? true : false

      concat check_box_tag 'store[detail_areas][]', detail_area.id, checkedval, {id: 'store_detail_area_ids_' + detail_area.id.to_s}
      concat detail_area.name
      concat " "
    end
  %>
  </div>


var xhr = new XMLHttpRequest();
xhr.open('GET','/');
xhr.addEventListener('load', function() {
  document.body.innerHTML = xhr.responce;
});
xhr.send();
