h3 {
  font-weight: bold;
}

.introduction_house {
  float:left;
  height: 299px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  .tags {
    color: #6E502A;
    font-size: 0.9em;
    font-weight: bold;
    width: 182px;
  }
  .name {
    color: #444;
    width: 182px;
    font-size: 1.3em;
    font-weight: bold;
  }
  .charge {
  }
  .charge:before {
    content: "￥";
  }
  .charge:after {
    content: " /泊";
  }
  .rate {
  }
}
