#user_show {
  color: #666;
}

.sidebar {
  float: left;
  &__profile-img {
    margin-top: 20px;
  }
  &__panel {
    margin: 20px 0;
    @include border();
    &--header {
      background-color: $line-gray;
      padding: 10px;
      border-bottom: 1px solid $line-gray;
    }
    &--body {
      padding: 18px;
    }
  }
}

#attribution p {
  color: $dark-gray;
  padding-top: 10px;
  margin: 0;
}
