// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.co
.body {
	// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.43;

}
.main {
	// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-family: 'klee'
}

.col-md-3 {
	float: left;
	padding: 0 12px;

}

.sidenav-list {
	margin-bottom: 0px;
	list-style: none;

	.sidenav-list {
		margin-top: 0px;
	}
		.sidenav-item a {
		text-decoration: none;
		color: #484848;
		font-weight: lighter;
		font-size: 16px;

		}
		.sidenav-item-btm a {
		color: #767676;
		display: block;
		padding: 6px 0;
		font-size: 16px;
		}
}

.btn {
	border-radius: 4px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	line-height: 1.43;
	border-color: #c4c4c4;
	padding: 7px 21px;
	font-size: 14px;
	font-weight: inherit;
}

.btn-block {
	display: block;
	white-space: normal;
	background: white;
	
}

.space-top-4 {
	margin-top: 24px;

}

.col-md-9 {
	float: left;
	.panel {
		border: 1px solid ;
		background-color: #fff;
		border-radius: 0;
		border-color: #dce0e0;
		color: #484848;
		font-weight: normal;
	}
	.space-4 {
		margin-bottom: 24px;
		.panel-header {
			font-size: 16px;
			padding: 12px 20px;
			// padding-top: 12px;
			// padding-bottom: 12px;
			border-bottom: 1px solid;
			border-color: #dce0e0;
			background-color: #edefed;

		}
		.panel-body {
			position: relative;
		}
	}
}

.row-condensed {
	margin-left: -16px;
	margin-right: -16px;
	.text-right {
		padding: 9px 6px 8px 6px;
	}
	.col-sm-3 {
		float: left;
	}
	.col-sm-9 {
		float: left;
		width: 75%;

	}
	.form-large {
		// display: block;
    padding: 8px 10px;
    width: 100%;
    color: #333;
    border: 1px solid #aaa;
		// -webkit-appearance: none;
		// -moz-appearance: none;
		// appearance: none;
		// -webkit-border-radius: 3px;
		// -moz-border-radius: 3px;
		// border-radius: 3px;
		// background-color: #FFF;
		// display: inline-block;
		// text-indent: 1em;
	}
	.form-xlarge {
		padding-top: 10px;
		padding-bottom: 10px;
		// resize: vertical;
		line-height: inherit;
		display: block;
		height: 100px;
    width: 100%;

	}
	select,option {
		width: 200px;
	　height: 30px;
	　padding-top: 8px;
	  padding-bottom: 8px;
	  padding-right: 2em;
	　margin: 0;
	　text-indent: 1em;
	　border: none;
	　-webkit-appearance: none;
	　-moz-appearance: none;
	　-ms-appearance: none;
	　appearance: none;
		color: #333;
		// background-color: #FFF;
		position: relative;
		display: inline-block;
		// -webkit-border-radius: 3px;
		// -moz-border-radius: 3px;
		// border-radius: 3px;
  //   vertical-align: bottom;
	}
	select:before {
		content: '\25bc';
		position: absolute;
		pointer-events: none;
		color: #767676;
		top: 0;
		bottom: 1px;
		padding-top: 0.7em;
		line-height: 1;
		right: 0;
		width: 2em;
		text-align: center;
		transform: scale(0.84, 0.42);
		-webkit-transform: scale(0.84, 0.42);
  }
	.icon {
	color: #FF4F50;
	}
}
.sex {
	width: 100px;
	height: 100px ;
	padding: 8 28 8 10px;
	background-color: red;
}
#user-language {
	background-color: red;
}

#user-currency {
	background-color: red;

}
.col-xs-3.col-sm-3.col-md-3 {
	// display: inline-block;
	// width: auto;
}

.text-muted {
	color: #767676;
}

.space-top-1 {
	margin-top: 6px;
}

.btn-primary {
	border-color: #ff5a5f;
	color: #fff;
	background-color: #ff5a5f;
}

.btn-large {
	padding: 9px 27px;
	font-size: 16px;
}
